.col-10 img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}

.col-1 .fas{
    font-size: 50px;
}

.col-1 .fas:hover{
    font-size: 70px;
    transition: font-size 1s;
}

.col-1 .fas:active{
    font-size: 50px;
    transition: font-size 0.3s;
}

.color-blue{
   color: rgb(0,97,255);
   transition: color 1s;
}

 #img-animation{
    filter: opacity(1);
    transition: all 2s;
} 